[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
"flake8" = "*"
"flake8-import-order" = "*"
ipython = "*"
mypy = "*"
pdbpp = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "{{ cookiecutter.python_version }}"
